*{margin:0; padding:0; list-style: none;}
a{list-style: none; text-decoration: none;}
#index_box{
    position: relative;
    width:1000px;
    height:650px;
}

/* 왼쪽메뉴시작 */
#index_left{
    float:left;
    width:240px;
    height:100%;
    background-color:steelblue;
}

/* 로고시작 */
.logo_box{
    width:200px;
    height:40px;
    padding:20px;
}
/* 로고끝 */

/* 메뉴  네비게이션시작 */
.menu{
    width:200px;
    margin:20px;
    border-top:3px solid white;
    border-left:3px solid white;
    border-right:3px solid white;
}

.menu>ul{
    text-align: center;
}

.menu>ul>li>a{
    display:block;
    padding:10px 0;
    font-size:1.2rem;
    font-weight: 800;
    color:darkslategrey;
    background:powderblue;
    border-bottom:3px solid white;
}

.sub_menu{display:none; padding:5px 0; background:white;}

.sub_menu>li>a{
    display:block;
    padding:5px 0;
}

.menu>ul>li:hover>a{
    background:darkslateblue;
    color:white;
}

.sub_menu.li>a:hover{
    background:darkslateblue;
    color:white;
}

/* 메뉴 네비게이션 끝 */

/* 인덱스 우측 */
#index_right{
    float:right;
    width:760px;
    height:100%;
}

/* 이미지슬라이드시작 */
#slide_box{
    width:760px;
    height:350px;
}

#slide_box>ul{
    font-size:0;
}

#slide_box>ul>li{
    position: absolute;
}
/* 이미지 슬라이드 끝 */

/* 탭메뉴시작 */
.tab_menu{
    float:left;
    width:340px;
    height:180px;
    margin:10px;
}

.tab_button{
    display:inline;
    text-align:center;
    font-size:0;
}

.tab_button>li{
    display:inline-block;
    cursor:pointer;
    background:darkgrey;
}

.tab_button>li>a{
    display:block;
    padding:5px 15px;
    width:60px;
}

.tab_button>li:hover,
.tab_button>li:hover::after,
.tab_button>li:focus,
.tab_button>li:focus::after{
    background:white;
}

.content{
    width:320px;
    height:130px;
    background:white;
    padding:10px;
}

.tab1{
    width:320px;
    height:130px;
}

.tab1>ul>li>a{
    font-size:0.9rem;
    color:dimgrey;
    float:left;
    line-height:32px;
    cursor:pointer;
}

.tab1>ul>li>span{
    font-size:0.9rem;
    color:dimgrey;
    float:right;
    line-height:32px;
}

.tab1>ul>li:hover>a{
    font-weight:800;
    color:#222328;
}

.tab2{
    width:320px;
    height:130px;
}

.tab2>ul{
    display:flex;
    justify-content:space-between;
    padding:10px 0;
}
.tab2>ul>li>a>img{
    width:100px;
    height:110px;
}

.tab2>ul>li:hover{
    opacity:0.7;
}

/* 탭메뉴끝 */

/* 팝업시작 */
#popup{
    display:none;
    top:180px;
    left:300px;
    position: absolute;
    width:400px;
    height:280px;
    background:white;
    border:5px solid darkslateblue;
    z-index:3;
}

.banner{float: left;margin:10px 2.5px;}
.banner img{width:195px;}

.popup_title{
    width:100%;
    height:30px;
    background-color:darkslateblue;
}

.popup_title a{
    color:white;
    font-size:1.2rem;
    line-height:26px;
    margin:0 10px;
}

.popup_text{
    height:180px;
    margin:10px;
    line-height:30px;
}

.팝업닫기{
    float:right;
    margin-right:10px;
    padding:5px 20px;
    background:dimgrey;
    color:white;
    cursor:pointer;
}