*{
    margin:0; padding:0;
}
a{text-decoration: none; color:inherit;}

li{list-style:none;}

h1,h2,h3,h4,h5,h6{
    margin:0;
    padding:0;
}

.all{
    width:1350px;
    margin:0 auto;
}

nav{
    position: relative;
    width:100%;
    height:100px;
    /* background-color: antiquewhite; */
}

#logo{
    /* position: relative;
    z-index: 999; */
    float:left;
    margin-top:20px;
}

nav>ul{
    float:right;
    margin-top:20px;
}

nav>ul>li{
    width:90px;
    padding:0 10px;
    float:left;
    text-align: center;
}

.sub-nav{
    position: absolute;
    text-align:center;
    display: none;
    background-color: lightsteelblue;
}

.sub-nav li{ 
    padding:10px 10px;
    text-align: center;
}

.navi-box a{
    font-size:16px;
    font-weight: bold;
    color: rgba(65, 97, 4, 0.904);
}

section{
    clear:both;
}

.slider-box>ul{
    display:flex;
}

.slider-warp{
    overflow: hidden;
}